{% load static %}
<!DOCTYPE html>
<html>
  
<head>
  <title>Pedro Santa Rita de Oliveira</title> 

  
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@100&display=swap" rel="stylesheet">
  
  <link rel="stylesheet" href="{% static 'css/styles.css'%}">
    
    
</head>
  <body>
    <header>
      <b>Pedro Santa Rita de Oliveira.</b>
    </header>
    <h1>O Botafogo vence Brasiliense, e avança na copa do Brasil 2023!</h1>
    <h3>Tiquinho marca 3 gols e disputa artilharia</h3>
    <p class="primeiro-parágrafo">
    Em noite de gala Botafogo goleia Brasiliense por 7a1 e avança na copa do Brasil. O time Carioca contou com mudanças na escalação e fez uma atuação segura. O <b>GLORIOSO</b> contou com boa atuação da dupla de zaga (Vitor Cuesta e Adryelson), assim como do meia atacante Carlos Eduardo, que voltava de lesão e do atacante Tiquinho Soares, que marcou um hattrick.
    </p>
    <p>O Botafogo volta a campo no sábado para encarar a Portuguesa, às 18h (horário de Brasília), pelo jogo de ida da semifinal da Taça Rio, no Estádio Luso-Brasileiro. Também no sábado, o Brasiliense duela com o Brasília, às 15h30, pelo Campeonato Brasiliense.</p>
    <b>Escalação do Botafogo</b>
    <ul>
      <li>Lucas Perri</li>
      <li>Adryelson</li>
      <li>Vitor Cuesta</li>
      <li>Di Plácido</li>
      <li>Marçal</li>
      <li>Tche Tche</li>
      <li>Danilo Barbosa</li>
      <li>Carlos Eduardo</li>
      <li>Lucas Piazon</li>
      <li>Carlos Alberto</li>
      <li>Tiquinho Soares</li>
    </ul>
    
  
   <a href="https://www.google.com/search?q=botafogo&oq=Botafogo+&aqs=chrome.0.69i59j0i131i433i512j0i3j0i131i433i512j46i175i199i512j0i131i433i512j46i131i433i512j0i512j0i131i433i512l2.2884j1j15&sourceid=chrome&ie=UTF-8#sie=m;/g/11sj63twcx;2;/m/04wpb1;dt;fp;1;;;" target="_blank">Link para jogo</a> 
    <br/>
    <br/>
    <img width="250px" src="https://pbs.twimg.com/media/FrTYo2vXoAUeCWq?format=jpg&name=900x900">]
    <br/>
    <br/>
    <table>
    <tr>
      <th> Botafogo</th>
      <th>Brasiliense</th>
      <th>Gols Botafogo</th>
      <th>Gols Brasiliense</th>
    </tr>
    <tr>
    <td>2 Vitórias</td>
    <td>0 Vitórias</td>
    <td>9</td>
    <td>2</td>
    </tr>
    </table>
  </body>
</html>